body {
    padding-top: 54px;
}
  
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

h1 {
    font-weight: bold;
}
  
.news.attribute {
    font-weight: bold;
}
  
.news.detail {
    color: grey;
}

.news.name {
    
}

.btn {
    white-space: normal;
}