---
http_interactions:
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/search?X-API-KEY=<SEC_API_KEY>&fields=tweet&q=web
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Day:
      - '2500'
      X-Ratelimit-Limit-Minute:
      - '100'
      X-Ratelimit-Limit-Second:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '2497'
      X-Ratelimit-Remaining-Minute:
      - '99'
      X-Ratelimit-Remaining-Second:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"cves": [{"CVSS_V3_confidentiality": null, "vultype": null, "overview":
        "Session fixation vulnerability in SYNO.PhotoStation.Auth in Synology Photo
        Station before 6.8.7-3481 allows remote attackers to hijack web sessions via
        the PHPSESSID parameter.", "CVSS_V3_privileges_required": null, "CVSS_V3_user_interaction":
        null, "CVSS_V3_attack_vector": null, "tweets": {"tweets": [{"quote_count":
        0, "contributors": null, "truncated": true, "text": "CVE-2018-13282\n\nSession
        fixation vulnerability in SYNO.PhotoStation.Auth in Synology Photo Station
        before 6.8.7-348\u2026 https://t.co/bqb7ZleCbc", "@timestamp": "2018-11-01T06:04:43.000Z",
        "is_quote_status": false, "in_reply_to_status_id": null, "reply_count": 0,
        "id": 1057876065337651200, "favorite_count": 0, "entities": {"user_mentions":
        [], "symbols": [], "hashtags": [], "urls": [{"indices": [117, 140], "url":
        "https://t.co/bqb7ZleCbc", "expanded_url": "https://twitter.com/i/web/status/1057876065337651200",
        "display_url": "twitter.com/i/web/status/1\u2026"}]}, "retweeted": false,
        "coordinates": null, "timestamp_ms": "1541052283020", "source": "<a href=\"https://apps.twitter.com\"
        rel=\"nofollow\">vulmonfff</a>", "in_reply_to_screen_name": null, "id_str":
        "1057876065337651200", "retweet_count": 0, "in_reply_to_user_id": null, "favorited":
        false, "user": {"follow_request_sent": null, "profile_use_background_image":
        false, "contributors_enabled": false, "id": 941389496771399680, "default_profile":
        false, "verified": false, "profile_image_url_https": "https://pbs.twimg.com/profile_images/945758793161498625/67b3PEYK_normal.jpg",
        "profile_sidebar_fill_color": "000000", "profile_text_color": "000000", "followers_count":
        294, "protected": false, "id_str": "941389496771399680", "default_profile_image":
        false, "listed_count": 13, "utc_offset": null, "statuses_count": 37375, "description":
        "Vulnerability feed from http://vulmon.com || @vulmon_ for human-controlled
        account || https://vulmon.com/searchfeed?q=* for RSS feed", "friends_count":
        2, "location": null, "profile_link_color": "000000", "profile_image_url":
        "http://pbs.twimg.com/profile_images/945758793161498625/67b3PEYK_normal.jpg",
        "following": null, "geo_enabled": false, "profile_background_color": "000000",
        "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
        "name": "Vulmon Vulnerability Feed", "lang": "en", "profile_background_tile":
        false, "favourites_count": 12, "screen_name": "VulmonFeeds", "notifications":
        null, "url": "http://vulmon.com/rss", "created_at": "Thu Dec 14 19:28:41 +0000
        2017", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
        "time_zone": null, "profile_sidebar_border_color": "000000", "translator_type":
        "none", "is_translator": false}, "geo": null, "in_reply_to_user_id_str": null,
        "possibly_sensitive": false, "lang": "en", "extended_tweet": {"display_text_range":
        [0, 217], "entities": {"user_mentions": [], "symbols": [], "hashtags": [],
        "urls": [{"indices": [194, 217], "url": "https://t.co/e47OdRnBqL", "expanded_url":
        "http://vulmon.com/vulnerabilitydetails?qid=CVE-2018-13282", "display_url":
        "vulmon.com/vulnerabilityd\u2026"}]}, "full_text": "CVE-2018-13282\n\nSession
        fixation vulnerability in SYNO.PhotoStation.Auth in Synology Photo Station
        before 6.8.7-3481 allows remote attackers to hijack web sessions via the PHPSESSID
        parameter.\n\nhttps://t.co/e47OdRnBqL"}, "created_at": "Thu Nov 01 06:04:43
        +0000 2018", "filter_level": "low", "in_reply_to_status_id_str": null, "place":
        null, "@version": "1"}, {"quote_count": 0, "contributors": null, "truncated":
        true, "text": "CVE-2018-13282\n\nSession fixation vulnerability in SYNO.PhotoStation.Auth
        in Synology Photo Station before 6.8.7-348\u2026 https://t.co/SXnvhWMSQi",
        "@timestamp": "2018-10-31T22:43:42.000Z", "is_quote_status": false, "in_reply_to_status_id":
        null, "reply_count": 0, "id": 1057765081583362049, "favorite_count": 0, "entities":
        {"user_mentions": [], "symbols"[...]
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2018-10-20&q=Web&sources=cnn&to=2018-10-24
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<NEWS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":7,"articles":[{"source":{"id":"cnn","name":"CNN"},"author":"olivertapia","title":"Mega
        Millions: al menos un boleto ganador se habría vendido en Carolina del Sur","description":"El
        sitio web de la Lotería de Carolina del Sur reporta que un boleto ganador
        del histórico premio de 1.600 millones de dólares se vendió en ese estado
        de Estados Unidos. Podría haber otros boletos ganadores en más estados.","url":"https://cnnespanol.cnn.com/2018/10/24/mega-millions-al-menos-un-boleto-ganador-se-habria-vendido-en-carolina-del-sur/","urlToImage":"https://cnnespanol2.files.wordpress.com/2018/10/181023151755-megamillions-full-169.jpg?quality=100&strip=info&w=1200","publishedAt":"2018-10-24T08:32:50Z","content":"(CNN)
        - Podría haber al menos un boleto ganador de Mega Millions esta mañana. El
        sitio web de la Lotería de Carolina del Sur reporta que un boleto ganador
        del histórico premio de 1.600 millones de dólares se vendió en ese estado
        de Estados Unidos. Podría habe… [+442 chars]"},{"source":{"id":"cnn","name":"CNN"},"author":"Paula
        Bravo Medina","title":"El Tata Martino no renovará contrato con el Atlanta
        United","description":"El argentino Gerardo ''Ta[...]
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/?X-API-KEY=&fields=tweet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Invalid authentication credentials"}

'
  recorded_at: Fri, 02 Nov 2018 05:32:43 GMT
[...]
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/search?X-API-KEY=<SEC_API_KEY>&fields=tweet&q=Web
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Day:
      - '2500'
      X-Ratelimit-Limit-Minute:
      - '100'
      X-Ratelimit-Limit-Second:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '2496'
      [...]
