---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2018-10-20&q=Web&sources=cnn&to=2018-10-24
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<NEWS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":7,"articles":[{"source":{"id":"cnn","name":"CNN"},"author":"olivertapia","title":"Mega
        Millions: al menos un boleto ganador se habría vendido en Carolina del Sur","description":"El
        sitio web de la Lotería de Carolina del Sur reporta que un boleto ganador
        del histórico premio de 1.600 millones de dólares se vendió en ese estado
        de Estados Unidos. Podría haber otros boletos ganadores en más estados.","url":"https://cnnespanol.cnn.com/2018/10/24/mega-millions-al-menos-un-boleto-ganador-se-habria-vendido-en-carolina-del-sur/","urlToImage":"https://cnnespanol2.files.wordpress.com/2018/10/181023151755-megamillions-full-169.jpg?quality=100&strip=info&w=1200","publishedAt":"2018-10-24T08:32:50Z","content":"(CNN)
        - Podría haber al menos un boleto ganador de Mega Millions esta mañana. El
        sitio web de la Lotería de Carolina del Sur reporta que un boleto ganador
        del histórico premio de 1.600 millones de dólares se vendió en ese estado
        de Estados Unidos. Podría habe… [+442 chars]"},{"source":{"id":"cnn","name":"CNN"},"author":"Paula
        Bravo Medina","title":"El Tata Martino no renovará contrato con el Atlanta
        United","description":"El argentino Gerardo ''Ta[...]
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/?X-API-KEY=<SEC_API_KEY>&fields=tweet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Day:
      - '2500'
      X-Ratelimit-Limit-Minute:
      - '100'
      X-Ratelimit-Limit-Second:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '2489'
      X-Ratelimit-Remaining-Minute:
      - '99'
      X-Ratelimit-Remaining-Second:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"cves": [{"CVSS_V3_confidentiality": null, "vultype": null, "overview":
        "Reliance 4 SCADA/HMI, Version 4.7.3 Update 3 and prior. This vulnerability
        could allow an unauthorized attacker to inject arbitrary code.", "CVSS_V3_privileges_required":
        null, "CVSS_V3_user_interaction": null, "CVSS_V3_attack_vector": null, "tweets":
        {"tweets": [{"quote_count": 0, "contributors": null, "truncated": false, "text":
        "Vuln: Geovap Reliance SCADA CVE-2018-17904 Cross Site Scripting Vulnerability
        https://t.co/PqB59LL9xx #bugbounty #bugbounties", "@timestamp": "2018-10-27T10:22:01.000Z",
        "is_quote_status": false, "in_reply_to_status_id": null, "reply_count": 0,
        "id": 1056128877683044352, "favorite_count": 0, "entities": {"user_mentions":
        [], "symbols": [], "hashtags": [{"indices": [102, 112], "text": "bugbounty"},
        {"indices": [113, 125], "text": "bugbounties"}], "urls": [{"indices": [78,
        101], "url": "https://t.co/PqB59LL9xx", "expanded_url": "http://www.securityfocus.com/bid/105738",
        "display_url": "securityfocus.com/bid/105738"}]}, "retweeted": false, "coordinates":
        null, "timestamp_ms": "1540635721022", "source": "<a href=\"https://drumup.io\"
        rel=\"nofollow\">drumup.io</a>", "in_reply_to_screen_name": null, "id_str":
        "1056128877683044352", "retweet_count": 0, "in_reply_to_user_id": null, "favorited":
        false, "user": {"follow_request_sent": null, "profile_use_background_image":
        false, "contributors_enabled": false, "id": 1014189106828660738, "default_profile":
        false, "verified": false, "profile_image_url_https": "https://pbs.twimg.com/profile_images/1014190656976293890/imIN3uug_normal.jpg",
        "profile_sidebar_fill_color": "000000", "profile_text_color": "000000", "followers_count":
        352, "protected": false, "id_str": "1014189106828660738", "default_profile_image":
        false, "listed_count": 3, "utc_offset": null, "statuses_count": 2145, "description":
        "#bugbounty #ethicalhacker", "friends_count": 563, "location": "Belgium",
        "profile_link_color": "19CF86", "profile_image_url": "http://pbs.twimg.com/profile_images/1014190656976293890/imIN3uug_normal.jpg",
        "following": null, "geo_enabled": false, "profile_background_color": "000000",
        "profile_banner_url": "https://pbs.twimg.com/profile_banners/1014189106828660738/1530637187",
        "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
        "name": "#BugBountyNews", "lang": "en", "profile_background_tile": false,
        "favourites_count": 1516, "screen_name": "bugbounty18", "notifications": null,
        "url": null, "created_at": "Tue Jul 03 16:48:20 +0000 2018", "profile_background_image_url_https":
        "https://abs.twimg.com/images/themes/theme1/bg.png", "time_zone": null, "profile_sidebar_border_color":
        "000000", "translator_type": "none", "is_translator": false}, "geo": null,
        "in_reply_to_user_id_str": null, "possibly_sensitive": false, "lang": "en",
        "created_at": "Sat Oct 27 10:22:01 +0000 2018", "filter_level": "low", "in_reply_to_status_id_str":
        null, "place": null, "@version": "1"}, {"quote_count": 0, "contributors":
        null, "truncated": false, "text": "Vuln: Geovap Reliance SCADA CVE-2018-17904
        Cross Site Scripting Vulnerability https://t.co/dUGC7EnxxE #Cybersecurity
        #Infosec", "@timestamp": "2018-10-26T16:58:51.000Z", "is_quote_status": false,
        "in_reply_to_status_id": null, "reply_count": 0, "id": 1055866360230764545,
        "favorite_count": 0, "entities": {"user_mentions": [], "symbols": [], "hashtags":
        [{"[...]
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/?X-API-KEY=Bad%20Api%20Key&fields=tweet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: 400 Bad Request
  recorded_at: Tue, 30 Oct 2018 15:19:38 GMT
[...]
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/search?X-API-KEY=Bad%20Api%20Key&fields=tweet&q=web
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: 400 Bad Request
  recorded_at: Tue, 30 Oct 2018 15:33:16 GMT
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/?X-API-KEY=&fields=tweet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Invalid authentication credentials"}

'
  recorded_at: Tue, 30 Oct 2018 16:16:07 GMT
- request:
    method: get
    uri: https://api.sb.cyber00rn.org/api/vulnerability/search?X-API-KEY=<SEC_API_KEY>&fields=tweet&q=web
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Day:
      - '2500'
      X-Ratelimit-Limit-Minute:
      - '100'
      X-Ratelimit-Limit-Second:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '2499'
      [...]
