---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2018-10-5&q=Security&sources=cnn&to=2018-10-12
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<NEWS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":88,"articles":[{"source":{"id":"cnn","name":"CNN"},"author":null,"title":"Security
        camera shows yard turn into ocean","description":"A home security camera on
        St. George Island, Florida, shows ocean waves rolling through residential
        yards as Hurricane Michael strikes the Florida Panhandle.","url":"https://www.cnn.com/videos/weather/2018/10/11/st-george-island-storm-surge-camera-orig-vstan-bdk.cnn","urlToImage":"https://cdn.cnn.com/cnnnext/dam/assets/181011124308-st-george-island-mandi-jackson-security-camera-hurricane-michael-1-super-tease.jpg","publishedAt":"2018-10-11T16:53:20Z","content":"Chat
        with us in Facebook Messenger. Find out what''s happening in the world as
        it unfolds."},{"source":{"id":"cnn","name":"CNN"},"author":"Andrea Flynn and
        Dorian Warren","title":"A little-known rule change could hurt most vulnerable","description":"The
        last 21 months have made clear that the Trump administration and the Republican
        Party that supports it know no bounds when it comes to punishing immigrants
        seeking a better, safer and more secure l[...]
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2018-10-5&q=Security&sources=cnn&to=2018-10-12
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - BadAPIKEY
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"apiKeyInvalid","message":"Your API key is
        invalid or incorrect. Check your key, or go to https://newsapi.org to create
        a free API key."}'
  recorded_at: Wed, 17 Oct 2018 14:08:19 GMT
[...]
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2018-10-20&q=Web&sources=cnn&to=2018-10-24
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<NEWS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":6,"articles":[{"source":{"id":"cnn","name":"CNN"},"author":"olivertapia","title":"Mega
        Millions: al menos un boleto ganador se habría vendido en Carolina del Sur","description":"El
        sitio web de la Lotería de Carolina del Sur reporta que un boleto ganador
        del histórico premio de 1.600 millones de dólares se vendió en ese estado
        de Estados Unidos. Podría haber otros boletos ganadores en más estados.","url":"https://cnnespanol.cnn.com/2018/10/24/mega-millions-al-menos-un-boleto-ganador-se-habria-vendido-en-carolina-del-sur/","urlToImage":"https://cnnespanol2.files.word[...]
[...]
- request:
    method: get
    uri: https://api.jrf.org.tw/search/stories?page=1&q%5Bstory_type%5D=%E5%88%91%E4%BA%8B&q%5Byear%5D=105
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f2ea93acae8ea7f93e1a35abd523c6e"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current":1,"previous_url":null,"next_url":"https://api.jrf.org.tw/search/stories?page=2\u0026q%5Bstory_type%5D=%E5%88%91%E4%BA%8B\u0026q%5Byear%5D=105","per_page":20,"pages":14451,"count":289006},"stories":[{"identity":{"type":"刑事","year":105,"word":"聲","number":579},"reason":"定應執行之刑","adjudged_on":null,"pronounced_on":null,"judges_name":[],"prosecutors_name":[],"lawyers_name":[],"parties_name":[],"detail_url":"https://api.jrf.org.tw/TYD/%E5%88%91%E4%BA%8B-105-%E8%81%B2-579","court":{"name":"臺灣桃園地方法院","simple_name":"桃園地院","code":"TYD"}},{"identity":{"type":"刑事","year":105,"word":"聲","number":290},"reason":"保護管束","adjudged_on":null,"pronounced_on":null,"judges_name":["施俊堯","李麗珠","郭豫珍"],"prosecutors_name":[],"lawyers_name":[],"parties_name":["臺灣高等法院檢察署檢察官","張宏男"],"detail_url":"https://api.jrf.org.tw/TPH/%E5%88%91%E4%BA%8B-105-%E8%81%B2-290","court":{"name":"臺灣高等法院","simple_name":"高院","code":"TPH"}},{"identity":{"type":"刑事","year":105,"word":"聲","number":244},"reason":"聲請具保停止羈押","adjudged_on":null,"pronounced[...]
